/*LOGIN*/
.toolbar{
 font-family: 'Poppins', sans-serif;
 --background: #90E0EF;
 color:black;
 text-align: center;
}

.card-container{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border-radius: 15px;
}

.card-container__title{
    font-family:'Roboto Flex', sans-serif;
    color: #676565;
    text-align: center;
}

.card-content__label{
    color:#A09B9B;
    font-family:'Roboto Flex', sans-serif;
}

.button-container{
text-align: center;    
}

.button-container__style{
    --background: #0077B6;
    font-family:'Roboto Flex', sans-serif;
    margin-top: 1rem;
}

.help-container{
    text-align: center;
    color: #676565;
    font-family:'Roboto Flex', sans-serif;
    text-decoration: underline;
    margin-top: 1.6rem;
}

.help-container__pass, .help-container__login{
    padding-bottom: 1.2rem;
}

.help-container__signup{
    padding-bottom: 1.2rem;
}

.router{
    text-decoration: none; 
    color: inherit;
}

.router:hover{
    color: #3e3c3c;
   font-weight:bolder;
}

/* CARRITO */
.producto-carrito-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.producto-carrito {
    display: flex;
    /* flex-direction: column; */
    align-items: space-between;
}

.producto-carrito__btn-eliminar {
    padding-left: 3vmin;
    color: #b93321;
    font-size: 8vmin;
}

.producto-carrito__nombre {
    font-weight: bold;
    font-size: large;
}

.producto-carrito__img {
    max-width: 30%;
}

#producto-carrito__descripcion {
    font-size: 2.5vmin;
    padding-bottom: 4vmin;
}

.producto-carrito__precio-cantidad {
    display: flex;
    justify-content: space-between;
}

.total-pagar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5vmin;
    font-size: large;
    font-weight: bold;
}

.total-pagar p {
    padding: 0;
    margin: 4px;
}

.btn-continuar {
    padding-top: 5vmin;
    display: flex;
    justify-content: center;
    width: 100%;
}